{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            <!-- Post Right -->
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Patient Portal</h3>
                    
                      <p class="excerpt">Client-facing web app to help patients efficiently manage and interact with their lab test data.</p>
                                        
                      <a href="https://github.com/danielbarone/patient-portal/" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Visit Project</button></a>
                    
                      <div class="tags">
                        <span>GraphQL</span>
                        <span>React</span>
                        <span>Docker</span>
                        <span>Dynamics365</span>
                        <span>Stripe</span>
                        <span>Azure</span>
                      </div>
                    
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive img-radius" src="/img/posts/patient-portal.png" title="Clinical Lab Patient Portal">
                  </div>
                </div>
              </div>
            </div>

            <!-- Post Left -->
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <!-- Img -->
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive img-radius" src="/img/posts/reddit-text-alerts.png" title="Reddit Alerts">
                  </div>
                  <!-- Info -->
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Reddit Alerts</h3>
                    
                      <p class="excerpt">Simple app to monitor Reddit for a given search string. Sends Slack/text alerts when found.</p>
                                        
                      <a href="https://github.com/danielbarone/reddit-text-alerts" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Visit Project</button></a>
                    
                      <div class="tags">
                        <span>Python</span>
                        <span>Twilio</span>
                        <span>Slack</span>
                        <span>API</span>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Post Right -->
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">

                  <!-- Info -->
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Clinical Lab CRM</h3>
                      <p class="excerpt">Lab-specific CRM solution built with Microsoft Dynamics.</p>
                      <a href="https://smoothstack.github.io/" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-stethoscope fa-lg"></i>Visit Project</button></a>
                      <div class="tags">
                        <span>Dynamics365</span>
                        <span>.NET</span>
                        <span>C#</span>
                        <span>Javascript</span>
                        <span>Stripe</span>
                      </div>
                    </div>
                  </div>

                  <!-- Img -->
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive img-radius" src="/img/posts/clinical-lab-crm.png" title="Clinical Lab CRM">
                  </div>

                </div>
              </div>
            </div>

            <!-- Post Left -->
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  
                  <!-- Img -->
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive img-radius" src="/img/posts/techcrunch.png" title="Antibiogram">
                  </div>

                  <!-- Info -->
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Antibiogram</h3>
                      <p class="excerpt">Runners up at the TechCrunch Disrupt SF Hackathon 2019</p>
                      <a href="https://devpost.com/software/disrupt-u739ji" target="_blank" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-trophy fa-lg"></i>Visit Project</button></a>
                      <div class="tags">
                        <span>React</span>
                        <span>InterSystems</span>
                        <span>API</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %} -->

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
